$primary-color: #2a3fbb;
$primary-color-2: #3D4F9F;

$secondary-color: #5E81FE;
$secondary-color-2: #F5F8FF;

$white-primary: #FFFFFF;

$grey-primary: #D6DAE5;
* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}


