$zindex: (
  space:        1000,
  exosphere:    500,
  thermosphere: 200,
  mesosphere:   100,
  stratosphere: 50,
  troposphere:  10,
  ground:       0,
  crust:        -10,
  mantle:      -50,
  core:        -100
);
