.main-header {
    &--small {
        font-family: Roboto;
        display: block;
        font-weight: 400;
        line-height: 1.2rem;
        font-size: 1rem;
        letter-spacing: .2rem;
        text-transform: uppercase;
    }

    &__big {
        font-family: Quicksand;
        line-height: normal;
        font-size: 4.8rem;
        letter-spacing: .2rem;
        font-style: normal;

        &--bold {
            font-weight: 500;
        }

        &--light {
            font-weight: 300;
        }
    }

}

.title {
    &__one {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 18px;
        text-align: center;
        color: #3D4F9F;
    }
}

.text {
    &--one {
        font-family: Roboto;
        font-style: normal;
        font-weight: 100;
        line-height: 29px;
        font-size: 15px;
        letter-spacing: 0.03em;
    }

    &__two {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: 27px;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #8D96BD;
    }
}

.small-font {
    font-size: 2.4rem;
}

.medium-font {
    font-size: 3.6rem;
}

.margin-btm-small {
    margin-bottom: 3rem;
}

.color-blue {
    color: $primary-color-2;
}

.color-white {
    color: $white-primary;
}