.margin-btm35 {
   margin-bottom: 3.5rem;
}

.margin-btm20 {
  margin-bottom: 2rem;
}

.margin-btm28 {
  margin-bottom: 2.8rem;
}

.margin-btm8 {
  margin-bottom: 0.8rem;
}

.margin-btm25 { 
  margin-bottom: 2.5rem;
}

.margin-left24 {
    margin-left: 2.4rem;
}

.margin-right24 {
  margin-right: 2.4rem;
}

.margin-right170 {
  margin-right: 17rem;
}

.margin-left170 {
  margin-left: 17rem;
}
                