.header {
    display: flex;
    font-family: 'Quicksand', sans-serif;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
    background-color: #FFFFFF;
    padding: 0 2rem;

    &__nav {
        font-size: 3rem;
    }
}