.selection {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5rem;

    @include respond(tab-port) {
        display: none;
    }

    &__item {
        background-color: #D1D6E3;
        width: .8rem;
        height: .8rem;
        border-radius: 50%;
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1rem;
        }

        &--selected {
            background-color: #5E81FE;   
        }
    }
}