.btn {
  border: none;
  border-radius: 2px;
  font-family: Quicksand, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 13px;
  text-align: center;
  padding: rem-calc(13px) rem-calc(25px);
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;

  &--default {
    @extend .btn;
    background: transparent;
    border: 1px solid #d1d1e4;
    box-sizing: border-box;
    border-radius: 2px;
    color: #adb4d2;
  }

  &--default-inverse {
    @extend .btn;
    background: transparent;
    border: 1px solid #a0b4ff;
    box-sizing: border-box;
    border-radius: 2px;
    font-weight: 500;
    color: #c7d3ff;
  }

  &--primary {
    @extend .btn;
    background-color: #d2e1ff;
    color: #3a79ff;
  }

  &--primary-inverse {
    @extend .btn;
    background: #ffffff;
    color: #565f82;
  }

  &--primary-raised {
    @extend .btn;
    background: #4d6ce1;
    box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
    color: #ffffff;
  }

  &--primary-raised-big {
    @extend .btn;
    background: #4d6ce1;
    box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
    padding: rem-calc(22px) rem-calc(25px);
    color: #ffffff;
  }

  &--secondary {
    @extend .btn;
    background-color: #ffd7d7;
    color: #d43f3f;
  }

  &--info {
    @extend .btn;
    background-color: #e8ecf4;
    color: #7382a3;
    font-weight: 500;
  }
}
