/* Carousell */

$color-dot: #D1D6E3;
$color-dot-active: #5283FF;

.carousel {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  &__container {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 1154px;
    position: relative;
    width: 100%;
  }

  .button__nav {
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    height: rem-calc(40px);
    justify-content: center;
    opacity: 1;
    transform: translate(0, -50%);
    transition: opacity 0.3s ease;
    position: absolute;
    width: rem-calc(40px);

    @include landscape-breakpoint {
      display: flex;
    }

    &:hover {
      background-color: #FFF;
      opacity: 0.75;
    }

    &:focus {
      outline: none;
    }
  }

  .button__nav--left {
    top: 50%;
    left: 0;
  }

  .button__nav--right {
    top: 50%;
    right: 0;
  }

  .cards__viewport {
    display: block;
    height: 100%;
    max-width: rem-calc(300px);
    overflow: hidden;
    position: relative;
    width: 100%;

    @include tablet-breakpoint {
      max-width: rem-calc(728px);
    }

    @include landscape-breakpoint {
      max-width: rem-calc(984px);
    }

    @include desktop-breakpoint {
      max-width: rem-calc(1018px);
    }
  }

  .cards__container {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    list-style: none;
    margin-left: -100%;
    width: 400%;

    &.animate {
      transition: margin 0.3s ease-in-out;
    }

    &.move-left {
      margin-left: 0;
    }

    &.move-right {
      margin-left: -200%;
    }
  }

  .slide {
    box-sizing: border-box;
    float: left;
    max-width: rem-calc(300px);
    padding: rem-calc(30px) rem-calc(10px);
    width: 100%;

    @include tablet-breakpoint {
      max-width: rem-calc(728px);
      padding: rem-calc(30px) rem-calc(20px);
    }

    @include landscape-breakpoint {
      max-width: rem-calc(984px);
    }

    @include desktop-breakpoint {
      padding: rem-calc(30px);
      max-width: rem-calc(1018px);
    }
  }

  .dots__container {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;

    @include landscape-breakpoint {
      margin-top: rem-calc(71px);
    }

    .dot {
      background-color: $color-dot;
      border-radius: 50%;
      height: rem-calc(8px);
      margin: 0 rem-calc(12px) 0 0;
      width: rem-calc(8px);

      &--active {
        background-color: $color-dot-active;
      }
    }
  }
}
