.copy-right {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #AEB8D0;
    margin-top: 3.5rem;
}