.logo-wall {
  --inner-padding-top: 6rem;
  --inner-padding-bottom: 6rem;
  --dot-inactive-color: #D1D6E3;
  --dot-active-color: #5283FF;
  --dots-gap: 1.2rem;
  --dots-margin-top: 4.4rem;
  --dots-display: flex;
  --slides-flex-wrap: none;
  --slides-justify-content: flex-start;
  --slide-flex: 0 0 100%;
  --logo-active-color: #5982E7;
  --logo-inactive-color: #D6DAE5;

  @media (--respond-to-tablet) {
    --dots-display: none;
    --slides-flex-wrap: wrap;
    --slides-justify-content: center;
    --slide-flex: 0 0 calc(100%/3);
  }
  
  @media (--respond-to-desktop) {
    --slide-flex: 1 1 auto;
  }

  @media (--respond-to-big-desktops) {
    
  }

  &__inner {
    padding-top: var(--inner-padding-top);
    padding-bottom: var(--inner-padding-bottom);
  }

  &__slides {
    display: flex;
    flex-wrap: var(--slides-flex-wrap);
    justify-content: var(--slides-justify-content);
    align-items: center;
    margin: 0 auto;
    max-width: 95.6rem;
    overflow: hidden;

    &__slide {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: var(--slide-flex);

      
      @media (--respond-to-tablet) {
        
        &:nth-child(n+4) {
          margin-top: 4rem;
        }
      }
      
      @media (--respond-to-desktop) {
        
        &:nth-child(n+4) {
          margin-top: 0;
        }
      }
      
      svg {
        width: 11.6rem;
        height: auto;
        max-height: 2.4rem;
        fill: var(--logo-inactive-color);
      }

      &--active {
        svg {
          fill: var(--logo-active-color);
        }
      }

    }
  }

  &__dots {
    display: var(--dots-display);
    justify-content: center;
    margin-top: var(--dots-margin-top);

    &__dot ~ &__dot {
      margin-left: var(--dots-gap);
    }

    &__dot {
      background-color: var(--dot-inactive-color);
      border-radius: 50%;
      width: .8rem;
      height: .8rem;

      &--active {
        background-color: var(--dot-active-color);
      }
    }
  }

}