.testimonials {
  --section-display: none;
  --inner-padding-top: 2.5rem;
  --inner-padding-bottom: 2.5rem;
  --inner-padding-left: 3.5rem;
  --content-width: auto;
  --content-padding-right: 2.8rem;
  --title-font-size: 1rem;
  --title-letter-spacing: 10;
  --heading-font-size: 3.6rem;
  --heading-margin-top: 2rem;
  --quotes-margin-left: 0;
  --description-font-size: 1.2rem;
  --description-letter-spacing: 3;
  --description-margin-top: 1rem;
  --slides-margin-top: 3.7rem;
  --slide-width: 42.3rem;
  --slide-description-font-size: 1.4rem;
  --slide-description-letter-spacing: 3;
  --slides-gap: 6.4rem;
  --dots-margin-top: 4.7rem;
  --dot-inactive-color: #D1D6E3;
  --dot-active-color: #5283FF;
  --dots-gap: 1.2rem;
  --dots-margin-left: 50%;
  
  @media (--respond-to-tablet) {
    --section-display: flex;
    --inner-flex-direction: column;
  }
  
  @media (--respond-to-desktop) {
    --inner-flex-direction: row;
    --inner-padding-top: 10.9rem;
    --inner-padding-bottom: 10.9rem;
    --inner-padding-left: 7.2vw;
    --content-width: 33.3rem;
    --content-padding-right: 0;
    --quotes-margin-left: 10.1rem;
    --dots-margin-left: 21rem;
  }
  
  @media (--respond-to-big-desktop) {
    --inner-padding-left: 19vw;

  }

  display: var(--section-display);
  background: linear-gradient(to bottom, #EAF0FF, #F6F9FF);

  &__inner {
    display: flex;
    flex-direction: var(--inner-flex-direction);
    padding-top: var(--inner-padding-top);
    padding-bottom: var(--inner-padding-bottom);
    padding-left: var(--inner-padding-left);
    width: 100%;
    overflow: hidden;
  }

  &__content {
    flex-shrink: 0;
    flex-basis: var(--content-width);
    padding-right: var(--content-padding-right);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      color: #3D4F9F;
      @mixin font roboto, medium;
      font-size: var(--title-font-size);
      letter-spacing: calc(var(--title-font-size) * var(--title-letter-spacing) / 100);
      text-transform: uppercase;
    }

    &__heading {
      color: #3D4F9F;
      font-size: var(--heading-font-size);
      margin-top: var(--heading-margin-top);
    }

    &__description {
      color: #A4ABC8;
      @mixin font opensans, bold;
      font-size: var(--description-font-size);
      letter-spacing: calc(var(--description-font-size) * var(--description-letter-spacing) / 100);
      margin-top: var(--description-margin-top);
    }
  }

  &__quotes {
    margin-left: var(--quotes-margin-left);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__slides {
      display: flex;
      margin-top: var(--slides-margin-top);
      
      &__slide {
        transition: all .4s;
        transform: translateX(0%);
        padding-right: var(--slides-gap);
        
        &__card {
          position: relative;
          padding: 4.1rem 7.1rem 5.3rem 6.9rem;
          width: var(--slide-width);
          height: 17.5rem;
          background-color: #fff;
          outline: 1px solid #D8E3FE;

          &__description {
            @mixin font roboto;
            font-size: var(--slide-description-font-size);
            letter-spacing: calc(var(--slide-description-font-size) * var(--slide-description-letter-spacing) / 100);
            color: #676F95;
            line-height: 1.46;
          }

          &__profile {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
            width: 6.2rem;
            height: 6.2rem;
            
            &__img {
              border: 1px solid #D8E3FE;
              border-radius: 50%;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

          }
        }

      }
    }

    &__dots {
      display: flex;
      justify-content: center;
      margin-top: var(--dots-margin-top);
      margin-left: var(--dots-margin-left);
      transform: translateX(-50%);
  
      &__dot ~ &__dot {
        margin-left: var(--dots-gap);
      }
      
      &__dot {
        background-color: var(--dot-inactive-color);
        border-radius: 50%;
        width: .8rem;
        height: .8rem;
  
        &--active {
          background-color: var(--dot-active-color);
        }
      }
  
    }

  }
  

}