/* Breakpoints */
$breakpoint-sm :768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

/* Colors */
$font-color :#697CA6;
$nav-text-color: #697CA6;
$dim_color: lightgray;
$primary-color :#3D4F9F;
$secondary-color :#ADB4D2;
$highlight-font-color :#4C85FF;

/* Bg Colors */
$header__logo--bg-color :#5E81FE;
$primary-bg-color :#ffffff;
$secondary-bg-color :#F2F6FF;
$primary-button-bg-color:#D2E1FF;
$highlight-button-bg-color:#4C85FF;

/* Sizes */
$header__logo-size :26px;
$main-home__play-size :48px;
