$primary-color: #3D4F9F;
$secondary-color: #8D96BD;

$background-primary-color: #F5F8FF;
$background-btn-primary-color: #4C85FF;

$blue-primary: #3A79FF;
$blue-bg-button: #D2E1FF;

$purple-text: #5E80FF;

