@import "./variables";

.blog{
  height: rem-calc(700px);
  background-color: #F5F8FF;
  display: grid;
  position: relative;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 25% 50% 25%;
  grid-template-areas: 
    ". titles ."
    "leftArrow carrousel rightArrow"
    ". dots .";  

    &__titles{
      grid-area: titles;
      @include centerer;
      font-family: $font-family__secondary;
      color: $font-color__main;
      text-align: center;


      &-h1{
        font-size: rem-calc(10px);
        text-transform: uppercase;
      }
      
      &-h2{
        font-family: $font-family__main;
        font-size: rem-calc(24px);
        font-weight: $font-weight-light;
        margin-top: rem-calc(20px);
        margin-bottom: rem-calc(20px);
      }
    }

    &__left{
      grid-area: leftArrow;

      &__arrow{
        @include vertical-align;
        @include horizontal-align;
        height: rem-calc(20px);
        width: rem-calc(30px);
        background: transparent url("/reference/assets/arrow-blog.png") no-repeat center center;
        transform: translateX(rem-calc(30px));
        cursor: pointer;
      }
    }

    &__right{
      grid-area: rightArrow;

      &__arrow{
        @include vertical-align;
        height: rem-calc(20px);
        width: rem-calc(30px);
        background: transparent url("/reference/assets/arrow-blog.png") no-repeat center center;
        transform: translateX(rem-calc(50px)) scaleX(-1) scaleY(-1); 
                cursor: pointer;
      }
    }

    &__carrousel{
      grid-area: carrousel;
      border: $border__style;
      background-color: white;
      position: relative;

      &__inner{
        @include centerer;
        width: 90%;
        height: 70%;

        &__item{
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-columns: 45% 10% 45%;
          grid-template-rows: 40% 30% 20%;
          grid-template-areas: 
            "img . title"
            "img . entry"
            "img . buttons";  

            &__img{
              grid-area: img;
              height: 100%;
              margin-right: 100px;

            }
            &__title{
              grid-area: title;
              font-family: $font-family__main;
              color: $font-color__main;
              font-size: rem-calc(25px);
              padding-top: rem-calc(20px);

            }
            &__entry{
              grid-area: entry;
              font-family: $font-family__secondary;
              color: $font-color__secondary;
              font-size: rem-calc(12px);
              line-height: 1.7;
            }
            &__buttons{
              grid-area: buttons;
              padding-top: rem-calc(20px);
              font-family: $font-color__main;
              font-size: rem-calc(13px);

              &-b1{
                width: rem-calc(113px);
                height: rem-calc(43px);
                background-color: #D2E1FF;
                color: #3A79FF;
                cursor: pointer;
              }

              &-b2{
                width: rem-calc(210px);
                height: rem-calc(43px);
                background-color: transparent;
                color: #A6B6DA;
              }

            }
        }
      }


    }

    &__dots{
      grid-area: dots;
      position: relative;

      &-d{
        @include horizontal-align;
        margin-top: rem-calc(50px);
        height: rem-calc(10px);
        width: rem-calc(10px);
        background-color: #D1D6E3;
        border-radius: 50%;
        display: inline-block;
        transform: translateX(rem-calc(-20px));
        margin-right: rem-calc(10px);
      }
    }


  @include tablet-view{
    height: rem-calc(865px);
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 15% 70% 20%;
    grid-template-areas: 
      ". titles ."
      ". carrousel ."
      ". dots .";  

    &__right__arrow, &__left__arrow{
      display: none;
    }

      &__carrousel__inner{
        height: 90%;
        width: 90%;

        &__item{
          width: 100%;
          height: 100%;
          grid-template-columns: 100%;
          grid-template-rows: 60% 10% 20% 10%;
          height: 90%;
          grid-template-areas: 
            "img"
            "title"
            "entry"
            "buttons";  
            &__img{
              width: 100%;
            }
  
            &__title{
              padding-bottom: 10%;
            }
            &__entry{
              padding-top: 3%;
              font-size: rem-calc(14px);
            }
        }

      }
  }

  @include mobile-view{
    padding-top: 5%;

    &__right__arrow, &__left__arrow{
      display: none;
    }

    &__carrousel__inner{
      &__item{
        padding-bottom: 5%;
        &__buttons{
          &-b1{
            width: 100%;
            margin-top: 5%;
          }
          &-b2{
            display: none;
          }
        }
      }
    }
    &__dots-d{
      transform: translateX(rem-calc(-30px));
    }
  }
}

#blog-item-1{
  display: grid;
}

#blog-item-2{
  display: none;
}

#blog-item-3{
  display: none;
}