/* Blog */
.blog {
  background-color: #F5F8FF;
  min-height: rem-calc(864px);

  @include landscape-breakpoint {
    .carousel {
      margin-top: rem-calc(46px);
    }
  }

  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: rem-calc(56px) 0 0;
    text-align: center;
    width: 100%;

    @include landscape-breakpoint {
      padding: rem-calc(104px) rem-calc(12px) 0;
    }
  }

  &__title {
    color: $color-title;
    font-family: $font-primary;
    font-weight: 500;
    font-size: $font-size-xl;
    padding: rem-calc(16px) 0;
  }

  .card {
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #D8E3FE;
    box-sizing: border-box;
    box-shadow: 0px 15px 50px #EFF4FF;
    display: flex;
    flex-direction: column;
    min-height: rem-calc(394px);
    width: 100%;

    @include landscape-breakpoint {
      flex-direction: row;
    }

    &__image {
      box-shadow: 0px 15px 100px #E5EBF8;
      border-radius: 5px;
      font-size: 0;
      margin: rem-calc(16px) 3% 3%;
      overflow: hidden;

      @include tablet-breakpoint {
        margin: 3%;
      }

      @include landscape-breakpoint {
        width: 50%;
      }
    }

    &__article {
      display: flex;
      flex-direction: column;
      margin: 0 rem-calc(10px);
      text-align: left;

      @include tablet-breakpoint {
        margin: 0 rem-calc(20px);
      }

      @include landscape-breakpoint {
        margin: 0 rem-calc(40px);
        text-align: center;
        width: 50%;
      }
    }

    &__title {
      color: $color-title;
      font-family: $font-primary;
      font-weight: 300;
      font-size: $font-size-2xl;
      padding-bottom: rem-calc(4px);

      @include tablet-breakpoint {
        padding-bottom: 0;
      }
    }

    .text {
      font-size: $font-size-sm;
    }

    &__buttons {
      display: flex;
      margin: rem-calc(24px) 0;

      @include landscape-breakpoint {
        margin: rem-calc(16px) 0 0;
      }

      .button:first-child {
        width: 100%;

        @include tablet-breakpoint {
          width: rem-calc(178px);
        }
      }

      .button:last-child {
        display: none;
        margin-left: 8px;

        @include tablet-breakpoint {
          display: block;
          width: rem-calc(332px);
        }

        @include landscape-breakpoint {
          width: auto;
        }
      }
    }
  }
}
