/* Blog */
.blog {
  background-color: #F5F8FF;
  min-height: rem-calc(864px);

  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: rem-calc(56px) 0 0;
    text-align: center;
    width: 100%;

    @include tablet-breakpoint {
      padding: rem-calc(104px) rem-calc(12px) 0;
    }
  }

  &__title {
    color: $color-title;
    font-family: $font-primary;
    font-weight: 500;
    font-size: $font-size-xl;
    padding: rem-calc(16px) 0;
  }

  .carousel {
    margin-top: rem-calc(46px);
  }
}
