@import "./variables";


.bottom-header {
  height: rem-calc(200px);
  position: relative;
  padding-top: 10%;
}

.copyright{
  font-size: rem-calc(14px);
  color: #AEB8D0;
  font-family: $font-family__secondary;
  line-height: 2;
  padding-left: 24%;
}