@import "./variables";

.faq{
  height: rem-calc(700px);
  position: relative;
  border: $border__style;

  &__inner{
    @include centerer;
    width: rem-calc(614px);
    height: fit-content;

    &-h1{
      font-size: rem-calc(10px);
      text-transform: uppercase;
      font-family: $font-family__secondary;
      color: $font-color__main;
      text-align: center;
    }

    &-h2{
      font-family: $font-family__main;
      font-size: rem-calc(24px);
      font-weight: $font-weight-light;
      margin-top: rem-calc(20px);
      margin-bottom: rem-calc(20px);
      color: $font-color__main;
      text-align: center;
    }

    &-ul{
      list-style: none;
      color: #8E96B7;
      font-family: $font-family__main;

      &-li{
        width: 100%;
        height: fit-content;
        position: relative;
        border-bottom: $border__style;

        &__question{
          padding-left: rem-calc(10px);
          padding-top: rem-calc(20px);
          display: flex;
          height: rem-calc(40px);

          &__icon{
            width: rem-calc(17px);
            height: rem-calc(17px);
            margin-right: rem-calc(10px);
          }
        }

        &__answer{
          height: fit-content;
          width: auto;
          font-family: $font-family__main;
          display: flex;

          &__text{
            width: 55%;
            margin-top: rem-calc(16px);
            margin-left: rem-calc(60px);
            margin-bottom: rem-calc(16px);
            font-size: rem-calc(12px);
            line-height: 2;
          }

          &__button{
            width: rem-calc(193px);
            height: rem-calc(43px);
            background-color: #E8ECF4;
            position: absolute;
            right: 0;
            top: 55%;
            color: #7382A3;
          }
        }
      }
    }
  }
}

.item1{
  &__answer{
    display: none;
  }
}
.item2{
  &__answer{
    display: none;
  }
}
.item3{
  &__answer{
    display: flex;
  }
}
.item4{
  &__answer{
    display: none;
  }
}
.item5{
  &__answer{
    display: none;
  }
}