/* Features */
.features {
  background-color: #FFF;
  background-image: url('/assets/images/clouds.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 885px;
}
