/* Get Started */
.get-started {
  background-color: linear-gradient(199.86deg, #6888FF 12.77%, #5E80FF 73.11%);
  background-image: url('/assets/images/blue-clouds.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 447px;
}
