
/* Variables */

$nav-text-color: #697CA6;
$header__logo-size: 26px;

/* Header*/

.header {
  background-color: #FFF;
  border-bottom: 1px solid #D8E3FE;
  display: flex;
  justify-content: space-between;
  padding: rem-calc(18px) rem-calc(20px);

  &__logo {
    background-color: #5E81FE;
    border-radius: 50%;
    height: rem-calc($header__logo-size);
    margin-top: rem-calc(26px-18px);
    width: rem-calc($header__logo-size);
  }

  &__nav {
    margin-top: rem-calc(32px-18px);
    display: none;

    &--mobile {
      margin-top: rem-calc(10px);

      @include tablet-breakpoint {
        display: none;
      }
    }

    @include tablet-breakpoint {
      display: block;

      &--social {
        display: none;
      }
    }

    @include desktop-breakpoint {
      &--social {
        display: block;
      }
    }
  }

  &__nav-list {
    display: flex;
    list-style: none;
  }

  &__nav-link {
    color: $nav-text-color;
    display: inline-block;
    font-size: rem-calc(12px);
    margin: 0 rem-calc(20px);
  }

  &__button {
    background-color: #D2E1FF;
    color: #3A79FF;
    display: none;
    font-family: 'Quicksand', sans-serif;
    padding: rem-calc(13px);

    @include tablet-breakpoint {
      display: block;
    }
  }
}
