@import "_mixin.scss";
@import "_color.scss";

.hero {
  position: relative;
  height: rem-calc(570px);

  &__image {
    background-image: url("../reference/assets/hero.png");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height:100%;
    display:block;
    position:absolute;
  }

  &__content{
    display: block;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    max-width: 600px;
    left: 0;
    right: 0;
    margin: auto;
    top: 45%;
    transform: translateY(-50%);

    @include mobile-breakpoint {
      top: 30%;
    }

    &-header {
      font-size: rem-calc(10px);
      color: $primary-color;
      text-transform: uppercase;
    }

    &-title {
      font-size: rem-calc(48px);
      color: $primary-color;
      margin: rem-calc(15px) 0 rem-calc(30px) 0;
      
      & .bold {
        font-weight: bold;
        font-family: 'Quicksand', sans-serif;
      }
    }

    &-description {
      font-size: rem-calc(15px);
      color: $secondary-color;
      margin: 0 rem-calc(50px);
      line-height: rem-calc(30px);

      @include mobile-breakpoint {
        display: none;
      }
    }

    &-icon-play {
      @include mobile-breakpoint {
        display: none;
      }
    }
  }

}
