/* Hero */
.hero {
  background-color: #F4F7FF;
  background-image: url('/assets/images/hero.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: rem-calc(570px);

  &__container {
    display: flex;
    flex-direction: column;
    padding-top: rem-calc(40px);
    text-align: center;
    width: 100%;

    @include tablet-breakpoint {
      padding-top: rem-calc(90px);
    }
  }

  &__title {
    color: $color-title;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: $font-size-3xl;
    padding: rem-calc(16px) rem-calc(64px);

    &--bold {
      font-weight: 500;
    }
  }

  .text {
    display: none;

    @include tablet-breakpoint {
      display: block;
    }
  }

  .button__play {
    align-items: center;
    background: #FFF;
    border-radius: 50%;
    box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
    color: $color-play;
    cursor: pointer;
    display: inline-flex;
    font-size: $font-size-xs;
    margin: rem-calc(24px) auto;
    opacity: 1;
    justify-content: center;
    width: rem-calc(52px);
    height: rem-calc(52px);
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.75;
    }

    @include tablet-breakpoint {
      margin: rem-calc(12px) auto;
    }
  }
}
