/* Hero */
.hero {
  background-color: #F4F7FF;
  background-image: url('/assets/images/hero.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 570px;
}
