.intro {
  display: flex;
  justify-content: center;
  position: relative;

  &__bkg-image {
    height: 100%;
  }

  &__bkg-overlay {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem-calc(92px);

    @include media-breakpoint-down(xs) {
      padding-top: rem-calc(37px);
    }
  }

  &__info {
    max-width: rem-calc(600px);

    &__title {
      color: $section-title-color;
      font-family: "Roboto", sans-serif;
      font-size: rem-calc(10px);
      text-align: center;
      font-weight: 500;
      letter-spacing: 0.1em;
      margin-bottom: rem-calc(16px);
    }

    &__highlight {
      color: $section-highlight-color;
      font-size: rem-calc(48px);
      font-weight: lighter;
      text-align: center;
      margin-bottom: rem-calc(28px);

      @include media-breakpoint-down(xs) {
        padding: 0 rem-calc(30px);
      }

      &--emphasis {
        @extend .intro__info__highlight;
        font-weight: 500;
        padding: initial;
      }
    }

    &__description {
      color: $section-description-color;
      font-family: "Roboto", sans-serif;
      font-size: rem-calc(15px);
      line-height: rem-calc(29px);
      text-align: center;
      padding: 0 rem-calc(80px);
      margin-bottom: rem-calc(20px);

      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }
}

.play-button {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
  width: rem-calc(52px);
  height: rem-calc(52px);
}
