// This should be imported by the main.js file

// test for scss variables
$primary-color: #2a3fbb;
$alter-section-color:#F5F8FF;
$nav-text-color: #697CA6;
$header__logo-size: 26px;
$header__text-color:#3D4F9F;

@function rem-calc($size) {
  @return $size / 16px * 1rem;
}

@mixin tablet-breakpoint {
  @media only screen and (min-width: rem-calc(768px)) {
    @content;
  }
}

@mixin desktop-breakpoint {
  @media only screen and (min-width: rem-calc(992px)) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  padding: 0;
  margin: 0;
  font-family: Quicksand;
  font-variant:100;
}

h1 {
  color: $primary-color;
  font-weight: 200;

}

header{
  display:flex;
  flex-direction: column;
  h1{
    text-align: center;
    font-size: rem-calc(48px);
    font-weight: 300;
    color: $header__text-color;
  }
  h2{
    text-align: center;
    font-size: rem-calc(36px);
    font-weight: 500;
    color: $header__text-color;
  }
  h3{
    text-align: center;
    font-size: rem-calc(28px);
    font-weight:500;
    color: $header__text-color;
  }
  span{
    font-family: Roboto;
    font-weight:500;
    color: $header__text-color;
    font-size: rem-calc(10px);
    text-transform: uppercase;
    text-align: center;
  }
}
p{
  font-family: Roboto;
  font-weight:400;
  color:#8D96BD;
  font-size: rem-calc(15px);
  text-align: center;
}

.blog{
  background-color: $alter-section-color;
}

button { border:none; } 

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Quicksand', sans-serif;
  padding: rem-calc(18px) rem-calc(20px);

  &__logo {
    width: rem-calc($header__logo-size);
    height: rem-calc($header__logo-size);
    margin-top: rem-calc(26px-18px);
    background-color: #5E81FE;
    border-radius: 50%;
  }

  &__nav {
    margin-top: rem-calc(32px-18px);
    display: none;
    
    &--mobile {
      margin-top: rem-calc(10px);
      
      @include tablet-breakpoint {
        display: none;
      }
    }
    
    @include tablet-breakpoint {
      display: block;
      
      &--social {
        display: none;
      }
    }
    
    @include desktop-breakpoint {
      &--social {
        display: block;
      }
    }
  }

  &__nav-list {
    display: flex;
    list-style: none;
  }

  &__nav-link {
    font-size: rem-calc(12px);
    margin: 0 rem-calc(20px);
    display: inline-block;
    color: $nav-text-color;
  }

  &__button {
    background-color: #D2E1FF;
    font-family: 'Quicksand', sans-serif;
    color: #3A79FF;
    padding: rem-calc(13px);
    display: none;
    
    @include tablet-breakpoint {
      display: block;
    }
  }
}

.main {
  border-top: #D8E3FE solid 1px;
  max-width: rem-calc(320px);
  margin:0 auto;
  @include tablet-breakpoint {
    max-width: 768px;
  }
  @include desktop-breakpoint {
    max-width: 1024px;
  }
}

.header__menu-container{
  max-width: 320px;
  margin:0 auto;
  @include tablet-breakpoint {
    max-width: 768px;
  }
  @include desktop-breakpoint {
    max-width: 1206px;
  }
}

.hero-banner{
  min-height: 570px;
  background-image: url('/reference/assets/hero.png');
  &__info{
    padding: 35px 0 0 0;
    h1{
      margin:0 20px;
    }
    p{
      display: none;
    }
    span{
      margin:0 0 35px 0;
    }
    &__play-button{
      display: flex;
      height: 52px;
      width: 52px;
      background-color: white;
      border-radius: 50%;
      margin-top: 62px;
      img{
        margin: auto;
        filter:brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%);
      }
    }
    footer{
      display: flex;
      justify-content: center;

    }
  }
}

.customers{
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  &__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:60px;
    &__item{
      display: none;
      text-indent: -999px;
      &__bitbucket{
        width: 117px;
        height: 29px;
        background-image: url('/reference/assets/customers/bitbucket.png')
      }
      &__apple-watch{
        width: 117px;
        height: 25px;
        background-image: url('/reference/assets/customers/apple-watch.png')
      }
      &__facebook{
        width: 117px;
        height: 23px;
        background-image: url('/reference/assets/customers/facebook.png')
      }
      &__atlassian{
        width: 117px;
        height: 25px;
        background-image: url('/reference/assets/customers/atlassian.png')
      }
      &__audi{
        width: 117px;
        height: 29px;
        background-image: url('/reference/assets/customers/audi.png')
      }
      &--active{
        display: inline;
      }
    }
  }
}

.page-controller{
  display: flex;
  justify-content: space-evenly;
  margin: 45px 136px 80px 136px;
}

.page-controller__indicator {
  border: 1px solid white;
  border-radius: 50%;
  height:8px;
  width:8px;
  background-color: #D1D6E3;
}

.page-controller__indicator--active{
  background-color: #5283FF;
}

.planning{
  background-color: $alter-section-color;
}
.responsive-image {
  width: 100%;
  height: auto;
}
.statistics{
  display: flex;
  &__part{
    width: 50%;
    background-color: #6888ff;
    &--alter{
      background-color: $alter-section-color;
    }
  }
}