// This should be imported by the main.js file
//@import "navbar.scss";
@import "hero.scss";
@import "customers.scss";
@import "plan.scss";
@import "about.scss";
@import "metrics.scss";
@import "resources.scss";
@import "quotes.scss";
@import "start.scss";
@import "newsletter.scss";
@import "footer.scss";

* {
  padding: 0;
  margin: 0;
}
