@import './base/base';

@import './components/header';
@import './components/play-btn';
@import './components/customers';
@import './components/selection';
@import './components/buttons';
@import './components/features';
@import './components/stats';
@import './components/blog';
@import './components/footer';
@import './components/logo';
@import './components/copy-right';
@import './components/faq';
@import './components/quotes';

@import './typography/header';
@import './typography/text';

@import './layouts/section-one';
@import './layouts/section-two';
@import './layouts/section-three';
@import './layouts/section-four';
@import './layouts/section-five';
@import './layouts/section-six';
@import './layouts/section-seven';
@import './layouts/section-eight';
@import './layouts/section-nine';
@import './layouts/section-ten';

@import './utilities/margin'