/* This should be imported by the main.js file */

.header {
  color: #697CA6;
  font-family: 'Quicksand', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  min-height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background: white;
  border: 2px solid;
  border-color: #D8E3FE;
}

.header-elem-1 {
  width: 55%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-elem-2 {
  width: 45%;
  display: flex;
  justify-content: flex-end;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;  
}

.nav-bar a:hover {
  font-weight: bold;
  color: #5381FE;
}

.social-icons {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icons img {
  display: inline-block;
  width: auto;
  height: 1rem;
}

.header-elem-2 button {
  color: #3A79FF;
  background-color: #D2E1FF;
  font-weight: bold;
  border: 0;
  border-radius: 3%;
  margin-right: 2rem;
  width: 7.1rem;
  height: 2.7rem;
  transition-duration: 0.4s;
}

.header-elem-2 button:hover {
  box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24), 0 15px 48px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
}

.logo {
  width: 1.7rem;
  height: 1.6rem;
  border-radius: 50%;
  background: #5E81FE;
  margin-left: 2rem;
}

.hero {
  width: 100%;
  height: 35.6rem;
  background-image: url("../reference/assets/hero.png");
}

.plan-and-manage {
  width: 100%;
  height: 48.5rem;
  background-image: url("../reference/assets/plan-manage.png");
  background-repeat: no-repeat;
  background-position: right;
}

main.main-content {
  top: 5rem;
  width: 100%;
}

.customers {
  min-height: 9.13rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.features {
  min-height: 55.3rem;
  background: white;
}

body {
  margin-top: 5rem;
}

a {
  text-decoration: none;
}

/* Header logos hover functionality */

#fb-logo-hover, #tl-logo-hover, #tw-logo-hover, #md-logo-hover {
  display: none;
}

.fb-logos:hover #fb-logo {
  display: none;
}
.fb-logos:hover #fb-logo-hover {
  display: inline-block;
}

.tl-logos:hover #tl-logo {
  display: none;
}
.tl-logos:hover #tl-logo-hover {
  display: inline-block;
}

.tw-logos:hover #tw-logo {
  display: none;
}
.tw-logos:hover #tw-logo-hover {
  display: inline-block;
}

.md-logos:hover #md-logo {
  display: none;
}
.md-logos:hover #md-logo-hover {
  display: inline-block;
}