.resources {
  display: flex;
  justify-content: center;
  background-color: #f5f8ff;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 0 rem-calc(20px);
    padding-top: rem-calc(56px);
    padding-bottom: rem-calc(104px);
    max-width: rem-calc(994px);

    @include media-breakpoint-up(md) {
      padding-top: rem-calc(104px);
    }

    @include media-breakpoint-up(lg) {
      max-width: rem-calc(1154px);
    }
  }

  &__title {
    color: $section-title-color;
    font-family: "Roboto", sans-serif;
    font-size: rem-calc(10px);
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: rem-calc(16px);
  }

  &__highlight {
    color: $section-highlight-color;
    font-weight: 500;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: rem-calc(40px);

    @include media-breakpoint-up(md) {
      margin-bottom: rem-calc(92px);
    }
  }

  &__carousel {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
