@import "_mixin.scss";
@import "_color.scss";

.resources {
  background-color: $background-primary-color;
  padding: 0 rem-calc(100px) rem-calc(20px);
  position: relative;

  @include landscape-breakpoint {
    padding: 0 rem-calc(50px) rem-calc(20px);
  }

  @include tablet-breakpoint {
    padding: 0 rem-calc(30px) rem-calc(20px);
  }

  &__header {
    text-align: center;
    padding: rem-calc(75px);

    &--subtitle {
      color: $primary-color;
      font-size: rem-calc(12px);
      text-transform: uppercase;
      font-family: Roboto, sans-serif;
      margin: rem-calc(10px);
    }

    &--title {
      color: $primary-color;
      font-size: rem-calc(24px);
      font-family: Quicksand, sans-serif;
    }
  }

  &__container {
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: table;
    padding: rem-calc(30px);
    border-radius: rem-calc(5px);

    @include tablet-breakpoint {
      display: inline-block;
    }

    & .current {
      display: block;
    }

    &-item {
      max-width: rem-calc(1000px);
      max-height: rem-calc(400px);
      display: none;

      @include tablet-breakpoint {
        max-height: 100%;
      }

      & .current {
        display: block;
      }

      &-content {
        width: 100%;
        height: rem-calc(400px);

        @include tablet-breakpoint {
          max-height: 100%;
          height: 100%;
        }

        position: relative;
        &-image {
          background-repeat:no-repeat;
          background-position: center;
          background-size: cover;
          width:50%;
          height: rem-calc(400px);
          display:block;
          position:absolute;
          border-radius: rem-calc(5px);

          img {
            width: 100%;
          }

          @include tablet-breakpoint {
            width: 100%;
            height: rem-calc(300px);
            display: block;
            position: relative;
          }

          @include mobile-breakpoint {
            height: rem-calc(200px);
          }
        } 

        &-card {
          width: 50%;
          float: right;

          @include tablet-breakpoint {
            width: 100%;
            display: block;
            float: none;
          }

          &-container {
            &-title{
              font-size: rem-calc(35px);
              color: $primary-color;
              text-align: center;
              margin: rem-calc(50px) 0 rem-calc(30px);

              @include mobile-breakpoint {
                font-size: rem-calc(20px);
              }
            }

            &-description {
              font-size: rem-calc(15px);
              color: $secondary-color;
              text-align: center;
              margin: rem-calc(50px);

              @include mobile-breakpoint {
                margin: rem-calc(25px);
              }
            }

            &-actions {
              display: inline-block;
              button {
                display: inline-block;
                width: rem-calc(113px);
                height: rem-calc(43px);
                border-radius: rem-calc(2px);
                font-family: Quicksand,sans-serif;
                font-size: rem-calc(13px);
                font-weight: bold;
                background-color: $blue-bg-button;
                color: $blue-primary;
              }

              p {
                display: inline-block;
                color: $secondary-color;
                font-size: rem-calc(13px);
                margin: rem-calc(15px);
              }

            }
          }
        }
      }
    }
  }

  &__dots {
    text-align: center;
    margin: rem-calc(40px) 0;

    &-dot {
      height: rem-calc(12px);
      width: rem-calc(12px);
      background-color: $blue-bg-button;
      border-radius: 50%;
      display: inline-block;
      margin: 0 rem-calc(3px);
    }

    & .active {
      background-color: $primary-color;
    }
  }

  &__dots {
    text-align: center;
    margin: rem-calc(40px) 0;
    cursor: pointer;

    &-dot {
      height: 12px;
      width: 12px;
      background-color: #D1D6E3;
      border-radius: 50%;
      display: inline-block;
      margin: 0 3px;
    }

    & .active {
      background-color: #5283FF;
    }
  }

  &__arrow-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    cursor: pointer;
    background-image: url(../reference/assets/arrow-blog.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    color: transparent;
  }

  &__arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    cursor: pointer;
    background-image: url(../reference/assets/arrow-blog.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    transform: rotate(180deg);
    color: transparent;
  }

}
