@import "_mixin.scss";
@import "_color.scss";

.button {
    height: rem-calc(43px);
    width: rem-calc(130px);
    border-radius: 2px;
    display: inline-block;
}

.start {
    position: relative;
    height: rem-calc(450px);

    &__image {
        background-image: url("../reference/assets/blue-clouds-bg.png");
        background-repeat:no-repeat;
        background-position: center;
        background-size: cover;
        width:100%;
        height:100%;
        display:block;
        position:absolute;
    }

    &__content{
        display: block;
        position: absolute;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        max-width: rem-calc(600px);
        left: 0;
        right: 0;
        margin: auto;
        top: 55%;
        transform: translateY(-50%);
        color: white;

        @include mobile-breakpoint {
            margin: 0 rem-calc(20px);
        }

        &-header {
            font-size: rem-calc(10px);
            text-transform: uppercase;
        }

        &-title {
            font-size: rem-calc(48px);
            margin: rem-calc(35px);

            & .bold {
                font-weight: bold;
            }
        }

        &-description {
            font-size: rem-calc(15px);
        }

        &-buttons {
            display: inline-block;
            margin: rem-calc(30px) 0;

            &--price {
                @extend .button;
                background-color: $blue-bg-button;
                color: $primary-color;
            }

            &--documentation {
                @extend .button;
                background-color: transparent;
                color: $blue-bg-button;
                border: rem-calc(1px) solid $blue-bg-button;
                margin: 0 -5px;
            }
        }
    }
}