/* Stats */
.stats {
  display: flex;
  flex-wrap: wrap;
  min-height: 343px;

  &-productivity__container {
    align-items: flex-end;
    background: linear-gradient(208.93deg, #6888FF 12.77%, #5E80FF 73.11%);
    box-sizing: border-box;
    display: flex;
    color: #FFF;
    flex-direction: column;
    height: 343px;
    padding: rem-calc(66px) rem-calc(90px) 0 0;
    text-align: right;
    width: 100%;

    @include tablet-breakpoint {
      width: 50%;
    }
  }

  &-users__container {
    align-items: flex-start;
    background: linear-gradient(130.53deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
    box-sizing: border-box;
    display: flex;
    color: $color-play;
    flex-direction: column;
    height: 343px;
    padding: rem-calc(66px) 0 0 rem-calc(90px);
    text-align: left;
    width: 100%;

    @include tablet-breakpoint {
      width: 50%;
    }
  }

  &__title {
    font-family: $font-primary;
    font-weight: 400;
    line-height: rem-calc(83px);
    font-size: rem-calc(48px);
    letter-spacing: 0.03em;
    margin: rem-calc(8px) 0;
  }

  &__text {
    font-family: $font-primary;
    font-weight: 400;
    line-height: rem-calc(23px);
    font-size: rem-calc(18px);
    letter-spacing: 0.03em;
  }
}
