.testimonials {
    display: none;
    height: 480px;
    background-color: #EAF0FF;
    &__section {
        @include flex-container(auto);
        flex-grow: 1;
        h4 {
            @include title-4;
            margin-bottom: 20px;
        }

        h3 {
            @include title-2;
            font-weight: 500;
        }

        p {
            font-family: $open-sans-font;
            color: #A4ABC8;
            font-size: 13px;
            font-weight: 600;
            text-align: justify;
            line-height: 1.5;
        }
        .text {
            justify-content: flex-end;
        }
        &:first-of-type {
            justify-content: flex-end;
        }
    }
    &__slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__slides{
            width: 423px;
            height: 175px;
            position: relative;
            background-color: #ffffff;
            p {
                width: 70%;
                height: auto;
                font-family: $roboto-font;
                font-size: 14px;
                font-weight: 300;
                line-height: 1.5;
                color: #676F95;
            }
            img {
                width: 62px;
                height: auto;
                position: absolute;
                bottom: -30px;
            }
            &__slide {
                display: flex;
                height: 175px;
                align-items: center;
                justify-content: center;
            }
        }
        &__controls {
            margin-top: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            ul {
                list-style: none;
                padding: 0;
                li {
                    display: inline-block;
                    a {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        display: block;
                        background-color: #D1D6E3;
                        margin: 0px 5px 0px;
                        &.selected,
                        &:hover {
                            background-color: #5283FF;
                        }
                    }
                }
            }
        }
    }
    @include md {
        display: flex;
        &__content {
            flex-direction: column;
        }
        &__section {
            width: 100%;
            &:first-of-type {
                justify-content: flex-start;
                margin-bottom: 20px;
            }
        }
    }
    @include xl {
        display: flex;
        &__content {
            flex-direction: row;
        }
        &__section {
            &:first-of-type {
                justify-content: flex-end;
            }
        }
    }
}