.dot {
  height: 25px;
  width: 25px;
  background-color: #5E81FE;
  border-radius: 50%;
  display: inline-block;
}

.top-nav__left__item.active {
  color: #5E81FE;
}

.top-nav {
  display: flex;
  background-color: #88a0b8;
  overflow: hidden;
}

.top-nav__left {
  width: 50%;
  margin-right: auto;
  background-color: white;
  border-color: black;
}

.top-nav__right {
  width: 50%;
  margin-left: auto;
  background-color: black;
  border-color: #1da1f2;
}

.top-nav a {
  color: #0000aa;
}

.top-nav .hamburger-icon {
  display: none;
}

.top-nav__left .top-nav__left__item{
  padding-left: 10%;
}
