.section-eight {
    background: linear-gradient(199.86deg, #6888FF 12.77%, #5E80FF 73.11%);
    height: 44.7rem;
    text-align: center;
    padding: 10rem 1rem 1rem 1rem;

    &__btns {
        margin-top: 10rem;
    }
}