.section-four {
    height: 88.5rem;
    background-color: #FFFFFF;
    position: relative;

    @include respond(tab-port) {
        height: 78.5rem;
        background-image: url("/reference/assets/clouds.png");
        background-size: cover;
    }

    &__title {
        padding-top: 7.4rem;
        text-align: center;
    }

    &__btns {
        position: absolute;
        bottom: 5rem;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;

        .or {
            font-family: Open Sans;
            font-style: normal;
            font-weight: 500;
            line-height: 1.9rem;
            font-size: 1.1rem;
            text-align: center;
            text-transform: uppercase;
            color: #ADB3CB;
            letter-spacing: 1px;
            position: relative;
            width: calc(16 * 3)px;
            margin: 0 2rem;

            &::before {
                content: "";
                border-bottom: 1px solid #DAE4FE;
                width: 1.6rem;
                position: absolute;
                top: 50%;
                left: -2rem;
                clear: both;
                display: table;
            }

            &::after {
                content: "";
                border-bottom: 1px solid #DAE4FE;
                width: 1.6rem;
                position: absolute;
                top: 50%;
                left: 2rem;
                clear: both;
                display: table;
            }
        }
    }
}