.section-ten {
    display: none;
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
    padding: 2.6rem 2.6rem;
    position: relative;
    height: 38rem;

    @include respond(tab-port) {
        display: block;
    }
    
    &__title {

    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 42.3rem;
        padding: 4rem 6rem;
        background-color: #fff;
        border: 1px solid #D8E3FE;
        box-sizing: border-box;
        box-shadow: 0px 5px 50px #F3F5FA;

        @include respond(tab-land) {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0%, 0%);
        }

        &--img {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 50%);
        }
    }
}